.content{
    font-family: monospace, Arial;
    font-style: normal;
    font-size: 22px;
    z-index: 1;
    color: greenyellow;
    position: absolute;
    padding: 3em 5%;
    text-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.5);
    
}
body{
    font-size: 20px;
    position: relative;
    
}

textarea{
    left: -1000px;
    position: absolute;
    font-size: 20px;
    z-index: 1;
    color: greenyellow;
    margin-left: 10px;
    margin-top: 1px;
    text-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.5);
}
.cursor{
    font-size: 12px;
    color: #73ABAD;
    background-color: #73ABAD;
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: scroll;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
}
@keyframes blinker{
    50% {
        opacity: 0;
    }
}
#command {
    cursor: text;
    height: 50px;
    color: greenyellow;
}
#liner {
    line-height: 1.3em;
    margin-top: -2px;
    margin-bottom: 20px;
    animation: show 0.5s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
#liner::before {
    color: greenyellow;
    content: "user@portfolio:~$";
}
@keyframes show {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}
p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
}
.no-animation {
    animation: typing 0 steps(30, end);
}
.margin {
    margin-left: 20px;
}
@keyframes typing {
from {
    width: 0;
}
to {
    width: 100%;
}
}
.index {
    color: #DCDCCC;
}
.color2 {
    color: #B89076;
}
.command {
    margin-left: -5%;
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD; 
}
.command2{
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD; 
}
.error {
    color: #B89076;
}
.white {
color: #fff;
}
.inherit,
a {
color: #9C8394;
}
a {
text-decoration: inherit;
}
a:hover {
background: #73ABAD;
color: #211830;
}
a:focus {
outline: 0;
}